<fieldset class="border-bottom pb-3">

  <div class="form-group">
    <%= f.label :link, "Tweet URL" %>
    <%= f.text_field :link, class: 'form-control' %> 
  </div>

  <div class="form-group">
    <%= f.label :title, "Tweet Caption"%>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <%= f.hidden_field :_destroy %>
  <a href="#" class="btn btn-outline-danger btn-sm float-right remove_fields"> Remove Tweet </a>

</fieldset>
