<fieldset class="py-3 border-bottom">

  <%= f.hidden_field :_destroy %>
  <a href="#" class="btn btn-outline-secondary btn-sm float-right remove_fields mb-2 rm-tweet"> Remove</a>

  <div class="form-group">
    <%= f.label :link, "Tweet URL" %> <span class="text-danger">*</span>
    <%= f.text_field :link, class: 'form-control' %> 
  </div>

  <div class="form-group">
    <%= f.label :title, "Tweet Caption"%>
    <%= f.text_field :title, class: 'form-control' %>
  </div>



</fieldset>
