<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<% content_for :head do %>
<meta property="og:url" content="<%= compilation_url(@compilation) %>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= @compilation.title %>" />
<meta property="og:description" content="<%= @compilation.description %>" />
<meta property="og:image" content="http://www.onlinemoneyblog.com.ng/wp-content/uploads/2015/11/2.jpg" />
<% end %>


<div class="my-4 border-bottom">
  <h3><%= @compilation.title %></h3>
  <p><%= @compilation.description %></p>  

  <% if current_user && current_user.id == @compilation.user.id %>
  <div class="float-right my-2">
    <%= link_to 'Edit', edit_compilation_path(@compilation), class:"btn btn-outline-primary" %>
    <%= link_to "Delete", compilation_path(@compilation), method: :delete, data: { confirm: 'Are you certain you want to delete this compilation?' }, class: "btn btn-outline-danger" %>
  </div>
  <% end %>
</div>

<% @compilation.tweets.each do |t| %>
<div class="my-4">
  <p><%= t.title %></p>
  <blockquote class="twitter-tweet" data-lang="en"><a href="<%= t.link %>"></a></blockquote>
</div>
<% end %>

<div class="border-bottom">
&nbsp;  
</div>
<div class="my-4">
  <p>
    <a href="<%= tweet_intent(@compilation) %>" class="btn btn-primary">Share on Twitter</a>
    <a id="fbshare" href="<%= fb_intent(@compilation) %>" class="btn btn-primary">Share on Facebook</a>
    <a id="embed" class="btn btn-secondary" href="#">Embed</a>
  </p>
  <div id="embed_code" style="display:none;">
    <p>Copy and paste the code below to embed this compilation to your website.</p>
    <div style="background-color:#F8F9FB;">
      <code id="embed">
      &lt;iframe src="<%= embed_compilation_url @compilation %>" frameborder="0" width="500px;" height="XYZpx;"&gt;&lt;/iframe&gt;
      </code>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('a#embed').on('click',function(e){
      e.preventDefault();
      var code = $('code#embed');
      text = code.text();
      code.text(text.replace('XYZ',document.body.clientHeight-150));
      $('div#embed_code').show();
      $('html, body').scrollTop( $(document).height() );
    });

    $('a#fbshare').click(function(e) {
      e.preventDefault();
      window.open($(this).attr('href'), 'fbShareWindow', 'height=450, width=550, top=' + ($(window).height() / 2 - 275) + ', left=' + ($(window).width() / 2 - 225) + ', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
      return false;
    });
  })
</script>