<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<% content_for :head do %>
<meta property="og:url" content="<%= compilation_url(@compilation) %>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= @compilation.title %>" />
<meta property="og:description" content="<%= @compilation.description %>" />
<meta property="og:image" content="http://www.onlinemoneyblog.com.ng/wp-content/uploads/2015/11/2.jpg" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@titoree_tweets" />
<meta name="twitter:title" content="<%= @compilation.title %>" />
<meta name="twitter:description" content="<%= @compilation.description %>" />
<meta name="twitter:image" content="http://www.onlinemoneyblog.com.ng/wp-content/uploads/2015/11/2.jpg" />

<% end %>


<div class="my-4 border-bottom">
  <h3><%= @compilation.title %></h3>
  <p><%= @compilation.description %></p>  

  <% if current_user && current_user.id == @compilation.user.id %>
  <div class="float-right my-2">
    <%= link_to 'Edit', edit_compilation_path(@compilation), class:"btn btn-outline-primary" %>
    <%= link_to "Delete", compilation_path(@compilation), method: :delete, data: { confirm: 'Are you certain you want to delete this compilation?' }, class: "btn btn-outline-danger" %>
  </div>
  <% end %>
</div>

<% @compilation.tweets.each do |t| %>
<div class="my-4">
  <p><%= t.title %></p>
  <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><a href="<%= t.link %>"></a></blockquote>
</div>
<% end %>


<div id="footer-btns" class="my-4 border-top">
  <p>
    <div id="fave">
      <% if current_user.present? %>
        <a href="" class="faveicons" id="fave">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </a>
      <% else %>
      <a href="<%= twitter_auth_url %>" class="faveicons">
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </a>
      <% end %>
      <span class="fav-count">0</span>
    </div>

    <a href="<%= tweet_intent(@compilation) %>" class="btn btn-primary">
      <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
      Share on Twitter
    </a>
    <a id="fbshare" href="<%= fb_intent(@compilation) %>" class="btn btn-primary">
      <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;
      Share on Facebook
    </a>
    <a id="embed" class="btn btn-secondary" href="#">Embed this to your website</a>
  </p>
  <div id="embed_code" style="display:none;">
    <p>Copy and paste the code below to embed this compilation to your website.</p>
    <div style="background-color:#F8F9FB;">
      <code id="embed">
      &lt;iframe src="<%= embed_compilation_url @compilation %>" frameborder="0" width="500px;" height="XYZpx;"&gt;&lt;/iframe&gt;
      </code>
    </div>
  </div>
</div>